<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notepad</title>
    <link rel="stylesheet" href="/stylesheets/caution.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="caution">
        <h3>
            Please enter some texts to save your file 
        </h3>
        <button onclick="window.location.href='/'">Ok, Got It</button>
    </div>
</body>
</html>